<h2><i><%= @game.name %></i> Leaderboard</h2>

<%= image_tag("arrow-animated.gif", height: '25', class: 'anchored') %> <%= link_to('Back to my games', games_path) %>

<p><strong>Successful Targets</strong></p>
<% if @successful.any? %>
  <table border="3" width="100%" cellpadding="3">
    <thead>
      <hr>
        <th>Target</th>
        <th>Ninja</th>
        <th>When</th>
      </hr>
    </thead>
    <tbody>
      <% @successful.each do |pair| %>
        <tr>
          <td><%= pair.target.name %></td>
          <td><%= pair.ninja.name %></td>
          <td><%= pair.guessed_at.in_time_zone('Pacific/Auckland').strftime('%A %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No one yet! 🙀</p>
<% end %>

<p><strong>Everyone Else</strong></p>
<table border="3" width="100%" cellpadding="3">
  <% @pending.in_groups_of(3).each do |pairs| %>
    <tr>
      <% pairs.each do |pair| %>
        <td><%= pair&.target&.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>
