<% if current_user.present? %>
  <% if @current_games.any? %>
    <div>
      <h2>Your Games</h2>
      <%= render @current_games %>
    </div>
  <% end %>

  <% if @available_games.any? %>
    <% @available_games.each do |game| %>
      <%= link_to join_game_path(game), "Join #{game.name}", method: :post %>
    <% end %>
  <% end %>

  <p><%= image_tag("arrow-animated.gif", height: '25', class: 'anchored') %> <%= link_to('Start a new game', new_game_path) %></p>
<% else %>
  <%= link_to user_slack_omniauth_authorize_path do %>
    <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
  <% end %>
<% end %>
