<h2>Welcome to <i><%= @game.name %></i>!</h2>

<%= image_tag("arrow-animated.gif", height: '25', class: 'anchored') %> <%= link_to('Back to my games', games_path) %>

<%= render 'incoming_clues' %>

<%= render 'outgoing_clues' %>

<%= render 'guesses' %>
