<!DOCTYPE html>
<html>
  <head>
    <title>Ninja Santa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <%= link_to(image_tag("ninja-santa-header.png"), root_path, {class: 'header'}) %>
      <table border="3" width="100%" cellpadding="3">
        <tbody>
          <td><%= link_to('My games', games_path) %></td>
          <% if @game %>
            <td><%= link_to('Leaderboard', game_leaderboard_path(@game)) %></td>
          <% end %>
          <td><%= link_to('???', games_path) %></td>
        </tbody>
      </table>

      <%= yield %>

      <div id="santa"><%= image_tag("santa.png") %></div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
